<div class="panel panel-default">
  <div class="panel-heading">Current temp</div>
  <div class="panel-body">
    In temp: <span class="label label-default"> <%= @temperature_last.in_temp %></span>
    Out temp: <span class="label label-default"> <%= @temperature_last.out_temp %></span>
    Fan speed: <span class="label label-default"> <%= @temperature_last.fan_speed %></span>
    Measure time: <span class="label label-default"> <%= @temperature_last.measure_time.strftime('%d-%m-%Y %H:%M') %></span>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Temperature</div>
  <div class="panel-body">
    <div id="temperature">
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Fan speed</div>
  <div class="panel-body">
    <div id="fan_speed">
    </div>
  </div>
</div>

<script>
    var chart = c3.generate({
        bindto: '#temperature',
        size: {
            height: 380
        },
        data: {
            columns: [
                ['In temp', <%= @temperatures.map(&:in_temp).join(', ') %>],
                ['Out temp', <%= @temperatures.map(&:out_temp).join(', ') %>],
            ]
        },
        grid: {
            x: {
                show: true
            },
            y: {
                show: true
            }
        },
        zoom: {
            enabled: true,
            rescale: true,
            extent: [1, 50]
        },
        axis: {
            rotated: false,
            x: {
                type: 'category',
                categories: <%= raw @labels %>,
                tick: {
                    multiline: false,
                    count: 20
                }
            }
        }
    });
</script>


<script>
    var chart = c3.generate({
        bindto: '#fan_speed',
        size: {
            height: 380
        },
        data: {
            columns: [
                ['Fan speed', <%= @temperatures.map(&:fan_speed).join(', ') %>]
            ]
        },
        grid: {
            x: {
                show: true
            },
            y: {
                show: true
            }
        },
        zoom: {
            enabled: true,
            rescale: true,
            extent: [1, 50]
        },
        axis: {
            rotated: false,
            x: {
                type: 'category',
                categories: <%= raw @labels %>,
                tick: {
                    multiline: false,
                    count: 20
                }
            }
        }
    });
</script>

<script>
    $(document).ready(function () {
        setInterval(function () {
            window.location.reload(1);
        }, 30000);
    });
</script>